.accordion {
  &_title {
    cursor: pointer;
    color: gray;
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
  }

  &.active &_title {
    color: black;
  }

  &_content {
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }

  &.active &_content {
    max-height: 0em;
  }
}
